# Input
input_data*/
!input_data_example/

# Output
output*/
!output_example/
unsynched_sdds*/
synched_sdds*/
tune_guess.txt

# Supporting files
file_dict*.txt
pathnames*.txt
!pathnames_example.txt

# Generated SAD files
run.sad
prerun.sad
tune_info.sad

# Misc
__pycache__/
*~
*.swp
*.swo
*.pyc
