# Input
input_data*/
!input_data_example/

# Output
output*/
unsynched_sdds*/
synched_sdds*/
tune_guess.txt

# Supporting files
file_dict*.txt
pathnames*.txt
!pathnames_example.txt
model/twiss.dat
model/twiss_elements.dat
lattice/*
!lattice/example_lattice.sad

# Generated SAD files
run.sad
prerun.sad
tune_info.sad
model_and_tune.sad

# Misc
__pycache__/
*~
*.swp
*.swo
*.pyc
